<div class="container-fluid">

    <form class="form-horizontal  col-md-offset-4">
      
      <div class="form-group">
        <div class="col-md-6 text-center">
        <h2>用户登录</h2>
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-2 text-right control-label">用户名</label>
      <div class="col-md-3">
       <input type="text" class="form-control" placeholder="请输入用户名">
      </div>
      </div>

      <div class="form-group">
      <label class="col-md-2 text-right control-label">密   码</label>
      <div class="col-md-3">
    <input type="password" class="form-control" placeholder="请输入密码">
      </div>
      </div>

    <div class="form-group">
      <div class="col-md-6 text-center">
        <button class="btn btn-danger"> 登  录 </button>
      </div>
      </div>
    </form>
  </div>
